@import "/src/assets/variables.scss";

.dropdown {
  cursor: pointer;
  span:hover {
    color: gray;
  }
  &__links {
    position: absolute;
    top: 42px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0;
    a {
      font-size: 14px;
      margin: 0 !important;
      padding: 3px 0;
    }
    a:hover {
      color: gray;
      border-bottom: 0 !important;
    }
  }
}
