.furniture-page {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
  }
  &__examples-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    img {
      max-width: 1254px;
      object-fit: contain;
      max-height: 832px;
      margin-bottom: 12px;
    }
  }
  &__examples-drawings {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 1254px;
      max-height: 586px;
      margin-bottom: 12px;
    }
  }
}
