@import "/src/variables/variables.scss";

.mobile-menu {
  display: flex;
  align-items: center;
  img {
    display: none;
  }
  &__wrapper {
    background-color: rgba(50, 50, 50, 0.3);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100vh;
  }
  &__modal-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 440px;
    width: 265px;
    background-color: white;
    font-size: 15px;
  }
  &__menu-image {
    padding: 0 30px 40px 0;
    img {
      float: right;
    }
  }
  &__select {
    display: flex;
    flex-direction: row;
  }
  &__content {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    gap: 30px;
  }
  &__dropdown-title {
    font-size: 15px;
    cursor: pointer;
    &:hover {
      color: $blue;
    }
  }
  &__dropdown-links {
    display: flex;
    flex-direction: column;
  }
  &__dropdown-link {
    font-size: 14px;
    text-transform: lowercase;
    text-decoration: none;
    color: $dark;
    margin-top: 15px;
    &:hover {
      color: $blue;
    }
    &.selected {
      color: $active-link;
    }
  }
  @media screen and (max-width: $tablet-width) {
    img {
      display: block;
      cursor: pointer;
    }
  }
  &__link {
    text-decoration: none;
    color: $dark;
    font-size: 15px;
    &.selected {
      color: $active-link;
    }
    &:hover {
      color: $blue;
    }
  }
}
