@import "/src/assets/variables.scss";

.mobile-menu {
  display: flex;
  align-items: center;

  img {
    display: none;
  }
  &__wrapper {
    width: 100vw;
    background-color: rgba(100, 100, 100, 0.5);
    position: fixed;
    left: 0;
    top: 125px;
    z-index: 1000;
  }
  &__modal-menu {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 60vw;
    background-color: white;
    font-size: 24px;
    transform: translateX(0%);
    animation: ani 1s forwards; //???
    header {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      align-items: center;
      margin-bottom: 24px;
      margin-top: 12px;
    }
  }
  &__content {
    display: flex;
    padding-left: 24px;
    flex-direction: column;
    transform: translateY(-150%);
    animation: aniY 3s forwards;
  } //???

  @media screen and (max-width: $tablet-width) {
    img {
      display: block;
      cursor: pointer;
    }
  }
  &__link {
    text-decoration: none;
    color: $dark;
    margin: 24px 0;
    &.selected {
      color: red;
    }
  }
}
@keyframes ani {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
} ///???
@keyframes aniY {
  0% {transform: translateY(-150%);}
  100% {transform: translateY(0);}
} ///?
