@import "/src/variables/variables.scss";

.card-decor {
  display: flex;
  justify-content: center;
  &__item {
    display: flex;
    flex-direction: column;
    margin: 12px 24px;
    max-width: 400px;
    max-height: 300px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  a {
    color: $dark;
    text-decoration: none;
  }
}
