.decor-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px 0;
    max-width: 900px;
  }
}
