@import "/src/assets/variables.scss";

.button {
  font-size: 25px;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  color: $black;
  background-color: $blue-button;
  border: 0;
  &:hover {
    background-color: $blue;
  }
  &:active {
    background-color: $active-button;
  }
}

@media screen and (max-width: $tablet-width) {
  .button {
    font-size: 15px;
    padding: 2px 25px;
    height: 30px;
  }
}
