@import "/src/assets/variables.scss";

.contact-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #a7a7a7;
  width: 160px;
  height: 160px;
  padding: 0 20px;
  margin-left: 10px;
  background-color: $pink-light;
}
