.card-project {
  display: flex;
  border: 1px solid black;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  &__title {
    text-transform: uppercase;
  }
  &__picture {
    max-width: 211px;
    max-height: 294px;
    width: 100%;
  }
  &__description {
    max-width: 200px;
    width: 100%;
    text-align: center;
  }
  &__details {
    max-width: 406px;
    width: 100%;
  }
  &__list {
  }
  &__example-link {
    text-decoration: none;
    color: black;
  }
}
