.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  &__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1191px;
    width: 100%;
    padding: 100px 0;
  }
  &__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
  }
  &__descriptions {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
  }
  #mobile_text {
    display: none;
  }
}
@media screen and(max-width:750px) {
  .main-page {
    &__block {
      display: flex;
      width: 100%;
      #span_none {
        display: none;
      }
    }
    &__descriptions {
      display: flex;
      align-items: center;
      white-space: pre-wrap;
    }
    #mobile_text {
      display: flex;
      text-align: center;
    }
  }
}
