.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__blocks {
    display: flex;
    max-width: 992px;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__descriptions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
  }
}
@media screen and(max-width:550px) {
  .main-page {
    &__block {
      display: flex;
      width: 100%;
      #span_none {
        display: none;
      }
      &__slider {
        display: block;
        width: 100%;
      }
    }
    &__descriptions {
      display: flex;
      align-items: center;
      width: max-content;
      #span {
        position: absolute;
        top: 500px;
      }
    }
  }
}
