.main-page__blocks{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:100px 0;
}
.main-page__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
}
.main-page__descriptions{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    font-size: 16px;
}
.main-page__slider{
    width: 600px;
    height: 400px;
}