@import "/src/assets/variables.scss";
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__presentation-block {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    height: 575px;
    width: 100%;
    @media screen and (max-width: $tablet-width) {
      height: auto;
      margin-bottom: 30px;
    }
    .presentation-block {
      position: relative;
      display: flex;
      padding-top: 60px;
      gap: 30px;
      @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        align-items: center;
        padding: 0 25px;
      }
      &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 445px;
        text-align: center;
        font-size: 35px;
        padding-top: 15px;
        gap: 25px;
        @media screen and (max-width: $tablet-width) {
          font-size: 15px;
          gap: 4px;
        }
      }

      &__image-wrapper {
        display: flex;
        position: relative;
        max-width: 620px;
        width: 100%;
        height: fit-content;
        padding: 15px 15px 15px 0;
        @media screen and (max-width: $tablet-width) {
          max-width: 320px;
          padding: 5px;
        }
      }

      &__separator {
        width: 255px;
        height: 0;
        border-bottom: 2px solid $light-blue;
        @media screen and (max-width: $tablet-width) {
          width: 85px;
        }
      }
    }
  }
  &__blue-bg {
    position: absolute;
    width: 100%;
    height: 455px;
    background-color: rgba(49, 135, 213, 0.1);
    @media screen and (max-width: $tablet-width) {
      height: 190px;
    }
  }

  &__content {
    display: flex;
    max-height: 455px;
    height: 100%;
    justify-content: center;
  }

  &__block {
    max-width: 1110px;
    width: 100%;
  }

  &__image {
    width: 100%;
  }

  &__bottom-square-image {
    &_left {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;
      display: none;
      @media screen and (max-width: $tablet-width) {
        display: block;
        width: 50px;
      }
    }
    &_right {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      @media screen and (max-width: $tablet-width) {
        width: 50px;
      }
    }
  }
  .slider-block {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    @media screen and (max-width: $tablet-width) {
      padding: 0 25px;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-top: 6px solid $light-blue;
    align-self: flex-end;
    align-items: flex-end;
    width: fit-content;
    @media screen and (max-width: $tablet-width) {
      margin-top: 30px;
      border: 0;
    }
  }

  &__text {
    font-size: 48px;
    @media screen and (max-width: $tablet-width) {
      font-size: 15px;
    }
  }

  &__slider-wrapper {
    position: relative;
    padding: 15px 0 15px 15px;
  }

  &__slider-square-image {
    position: absolute;
    left: 0;

    &_bottom {
      bottom: 0;
      @media screen and (max-width: $tablet-width) {
        display: none;
      }
    }
  }
}
