
$dark: #2f2a2b;
$black: #323232;
$pink-light: #f9f4f5;
$white: white;
$light-blue: #72ade2;
$blue: #3187d5;
$system-green: #008000;
$system-red: #ff0000;
$system-yellow: #ffb801;
$active-button: #00529d;
$blue-button: #b8d6f0;
$active-link: #00529d;

$tablet-width: 768px;
$desktop-width: 1024px;
$phone-width: 375px;
