.service-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  &__title {
    text-transform: uppercase;
  }
  &__sequence {
    text-transform: uppercase;
  }
  &__stages {
    display: flex;
    align-items: center;
    margin: 24px 0;
  }
  &__cards-service {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    align-items: center;
    text-align: center;
  }
  &__action {
    display: flex;
    border: 1px solid black;
    padding: 8px;
  }
  &__action-text {
    text-decoration: none;
    color: black;
  }
  @media screen and (max-width: 810px) {
    &__sequence {
      display: none;
    }
    &__stages {
      display: none;
    }
  }
}
