@import "../../assets/font.scss";
@import "src/assets/variables.scss";

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  &__content {
    max-width: 920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $light-blue;
    max-width: 445px;
    width: 100%;
  }
  &__title {
    width: 100%;
    font-size: 25px;
    margin: 20px 0;
    text-align: center;
  }
  &__contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin-bottom: 40px;

    input {
      border: 2px solid $light-blue;
      margin-bottom: 15px;
      width: 100%;
      padding: 20px 0;
      font-size: 18px;
      &::placeholder {
        padding-left: 25px;
      }
    }
    textarea {
      border: 2px solid $light-blue;
      margin-bottom: 15px;
      width: 100%;
      max-height: 100px;
      padding: 20px 0;
      font-size: 18px;
      resize: none;
      &::placeholder {
        padding-left: 25px;
      }
    }
  }
  &__cards-wrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid $light-blue;
    max-width: 445px;
    width: 100%;
  }
  &__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 40px;
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    font-size: 18px;
    border: 2px solid $light-blue;
    height: 215px;
    margin-top: 20px;
  }
  &__card-image {
    margin-top: 5px;
  }
  &__card-contacts {
    display: flex;
    margin-top: 20px;
    gap: 10px;
  }
  &__title-card {
    width: 100%;
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
  }
}
