.contact-page {
  display: flex;
  justify-content: center;
  &__main {
    background-color: #a7a7a7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }
  &__cards {
    display: flex;
    justify-content: space-around;
  }
}
