@import "../../assets/font.scss";
@import "src/assets/variables.scss";

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0 60px;
  &__content {
    max-width: 920px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and(max-width: $tablet-width) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  &__contact-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid $light-blue;
    max-width: 445px;
    width: 100%;
    padding: 20px 62px 40px;

    @media screen and(max-width: $tablet-width) {
      width: 325px;
      height: 400px;

      padding: 35px 50px 40px;
    }
  }
  &__title {
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-bottom:5px;
    @media screen and(max-width: $tablet-width) {
      font-size: 15px;
    }
  }
  &__contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    width: 100%;
    gap: 15px;
    textarea {
      border: 2px solid $light-blue;
      margin-bottom: 15px;
      max-width: 320px;
      width: 100%;
      height: 100px;
      padding: 20px 0;
      font-size: 18px;
      resize: none;
      &::placeholder {
        padding-left: 25px;
      }

      @media screen and(max-width: $tablet-width) {
        font-size: 15px;
        height: 60px;
      }
    }
  }
  &__cards-wrapper {
    display: flex;
    flex-direction: column;
    border: 3px solid $light-blue;
    max-width: 445px;
    width: 100%;
    padding: 50px 62px 40px;

    @media screen and(max-width: $tablet-width) {
      width: 325px;
      height: 400px;
      padding: 18px 35px 40px;
    }
  }
  &__title-cards {
    width: 100%;
    font-size: 25px;
    text-align: center;

    @media screen and(max-width:$tablet-width) {
      font-size: 15px;
    }
  }
  &__cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    border: 2px solid $light-blue;
    height: 215px;
    @media screen and(max-width:$tablet-width) {
      font-size: 15px;
      height: 140px;
    }
  }
  &__card-contacts {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    @media screen and(max-width:$tablet-width) {
      margin: 0;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__card-image {
    margin-top: 5px;
    @media screen and(max-width:$tablet-width) {
      margin-top: 15px;
      width: 25px;
      height: 25px;
    }
  }
}
