@import "/src/assets/variables.scss";
.material-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__content {
    border: 1px solid $dark;
    width: fit-content;
    height: fit-content;
    margin-bottom: 16px;
    :nth-child(even) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
  &__collection-card {
    padding: 32px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $dark;
    &_description {
      display: flex;
      flex-direction: row !important;
    }
    img {
      width: 400px;
      height: 300px;
    }
  }
}
