@import "/src/assets/variables.scss";

.card-service {
  &__example-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  &__images {
    display: flex;
    flex-direction: row;
    gap: 30px;
    @media screen and (max-width: $tablet-width) {
      gap: 15px;
    }
  }
  &__image {
    max-width: 540px;
    width: 100%;
    height: 400px;
    @media screen and (max-width: $tablet-width) {
      width: 155px;
      height: 135px;
    }
  }
  &__description {
    margin-top: 35px;
    color: black;
    font-size: 25px;
    @media screen and (max-width: $tablet-width) {
      font-size: 12px;
    }
  }
}
