.card-stage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &__image {
    max-width: 120px;
    height: 120px;
  }
  &__description {
    margin-top: 25px;
  }
}
