@import "/src/assets/variables.scss";

.header {
  display: flex;
  justify-content: center;
  height: 40px;

  border-bottom: 1px solid $dark;
  background-color: $pink-light;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1076px;
  }
  &__menu {
    display: flex;
    padding: 8px;
    font-size: 24px;
    align-items: center;
    a {
      margin-left: 32px;
      text-decoration: none;
      color: $dark;
      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }

  @media screen and (max-width: 530px) {
    &__menu {
      display: none;
    }
  }
}
