.header{
    display: flex;
    font-family: "Myriad Pro";
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #2f2a2b; 
    background-color: #f9f4f5;
}
.header__content{
    display: flex;
    padding: 8px 8px;
    font-size: 24px;
    color: #2f2a2b;
    width: 40%;
    justify-content: space-around;
    flex-wrap: wrap;
}
