.header {
  display: flex;
  justify-content: center;
  height: 30px;
  border-bottom: 1px solid #2f2a2b;
  background-color: #f9f4f5;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1076px;
  }
  &__menu {
    display: flex;
    padding: 8px;
    font-size: 24px;
    color: #2f2a2b;
  }
  a {
    margin-left: 8px;
    text-decoration: none;
    color: #2f2a2b;
  }
  @media screen and (max-width: 530px) {
    &__menu {
      display: none;
    }
  }
}
