@import "/src/assets/variables.scss";

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid #4088ca;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;

  &__content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1076px;
    justify-content: space-between;
    margin: 0 24px;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 800px;
    margin-left: 24px;
    a {
      text-decoration: none;
      color: $dark;
      margin: 0px;
      &:hover {
        color: gray;
      }
    }
  }

  @media screen and (max-width: 650px) {
    &__menu {
      display: none;
    }
  }
}
