@import "/src/variables/variables.scss";
.main-page {
  &__presentation-block {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    height: 575px;
    width: 100%;
    @media screen and (max-width: $tablet-width) {
      height: auto;
      margin-bottom: 30px;
    }
    .presentation-block {
      position: relative;
      display: flex;
      padding-top: 60px;
      gap: 30px;
      @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        align-items: center;
        padding: 0 25px;
      }
      &__description {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 445px;
        text-align: center;
        font-size: 35px;
        gap: 25px;
        @media screen and (max-width: $tablet-width) {
          font-size: 15px;
          gap: 4px;
        }
      }

      &__image-wrapper {
        display: flex;
        position: relative;
        max-width: 620px;
        width: 100%;
        height: fit-content;
        padding-right: 15px;
        padding-bottom: 15px;
        @media screen and (max-width: $tablet-width) {
          max-width: 320px;
          padding: 5px;
        }
      }
    }
  }


  &__content {
    display: flex;
    max-height: 455px;
    height: 100%;
    justify-content: center;
  }

  &__block {
    max-width: 1110px;
    width: 100%;
  }

  &__image {
    width: 100%;
  }

  .slider-block {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    @media screen and (max-width: $tablet-width) {
      padding: 0 25px;
    }
  }


  &__slider-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px 0 15px 15px;
    height: 650px;
    gap: 15px;

  }
}
