@import "/src/assets/variables.scss";
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  border-top: 1px solid #4088ca;
  padding: 20px 0;
  &__icons {
    display: flex;
    flex-direction: row;
    width: 80px;
    justify-content: space-around;
    padding-bottom: 6px;
  }
  span {
    display: flex;
    padding-bottom: 6px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}
