@import "/src/variables/variables.scss";
.material-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__content {
    border: 1px solid $dark;
    margin-bottom: 12px;
  }
  &__collection-card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $dark;
    &:nth-child(2n) {
      display: flex;
      flex-direction: row-reverse;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__description {
    width: 267px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  &__image {
    width: 267px;
  }
  @media screen and (max-width: 550px) {
    .material-page {
      &__content {
        display: flex;
        flex-direction: column;
        border: 0;
      }
      &__collection-card {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $dark;
        margin-bottom: 5px;
      }
    }
  }
}
