@import "/src/variables/variables.scss";

.portfolioPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1191px;
    width: 100%;
  }
  &__title-page {
    text-align: center;
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 145px;
    @media screen and (max-width: $tablet-width) {
      font-size: 15px;
      font-weight: 400px;
      margin-bottom: 20px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    max-width: 1110px;
    width: 100%;
    @media screen and (max-width: $tablet-width) {
      width: 325px;
    }
    img {
      max-width: 100%;
      width: 100%;
      overflow: hidden;
    }
  }
  &__action {
    display: flex;
    max-width: 350px;
    width: 100%;
    @media screen and (max-width: $tablet-width) {
      display: none;
    }
  }
  &__description-block {
    padding: 0 0 35px 99px;
    font-size: 25px;
    @media screen and (max-width: $tablet-width) {
      padding-left: 0;
    }
  }
}
