.manufacturingPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 12px;
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    text-align: center;
    max-width: 1200px;
    width: 100%;
    span {
      text-transform: uppercase;
      margin: 32px 0;
    }
    img {
      object-fit: cover;
      height: 600px;
    }
  }
}
