.portfolioPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1191px;
    width: 100%;
    padding: 24px 0;
    p {
      text-transform: uppercase;
      text-align: center;
    }
    button {
      text-transform: uppercase;
      border: 1px solid black;
      text-align: center;
      padding: 12px 4px;
      background-color: white;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    span {
      padding: 24px 0;
    }
    img {
      max-width: 100%;
      width: 100%;
      height: 50vw;
      max-height: 496px;
      overflow: hidden;
    }
  }
  &__action {
    padding: 12px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
  }
}
