.custom-slider {
  margin-top: 15px;
  max-width: 912px;
  width: 100%;
  height: 400px;
  img {
    object-fit: cover;
    width: 700px;
    height: 400px;
  }
}
.slick-dots {
  bottom: 12px !important;
}
.slick-arrow {
  width: 40px !important;
  height: 40px !important;
}
.slick-next {
  right: -20px;
}
.slick-prev {
  left: -22px;
}
@media screen and(max-width:550px) {
  .slick-arrow {
    display: none !important;
  }

  .custom-slider {
    max-height: 200px;
    max-width: 300px;
    img {
      max-width: 300px;
      max-height: 200px;
    }
  }
}
